# Fichiers à ignorer
node_modules/
dist/
.env
.env.local
*.log
.DS_Store

# Minikube binary (too large for GitHub)
minikube

# Build outputs
api/src/dist/
front/src/dist/

# IDE
.vscode/
.idea/

# Database
*.sqlite
*.db

# Prisma
api/src/prisma/migrations/*
!api/src/prisma/migrations/migration_lock.toml
